article blockquote {
    position: relative;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
}
article blockquote::before,
article blockquote::after {
    font-size: 6rem;
    font-family: georgia, serif;
    color: #ccc;
    position: absolute;
    line-height: 0;
}
article blockquote::before {
    content: '\201C';
    top: 2.5rem;
    left: 0;
}
article blockquote::after {
    content: '\201D';
    bottom: .5rem;
    right: 0;
}