.cf:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

a.btn {
  display: block;
  float: left;
  width: 30%;
  height: 40px;
  margin: 0 6px 0 0;
  padding: 0;
  line-height: 2.6em;
  text-align: center;
  border: 1px solid #999;
}

a.col1:link, a.col1:visited, a.col1:hover {
  background-color: #49d;
  color: #fff;
}

a.col2:link, a.col2:visited, a.col2:hover {
  background-color: #8b2;
  color: #fff;
}

a.col3:link, a.col3:visited, a.col3:hover {
  background-color: #d49;
  color: #fff;
}

a.col1:hover {
  background-color: #05b;
}

a.col2:hover {
  background-color: #480;
}

a.col3:hover {
  background-color: #905;
}

a.col1:hover {
  box-shadow: 1px 1px 4px #006 inset;
}

a.col2:hover {
  box-shadow: 1px 1px 4px #030 inset;
}

a.col3:hover {
  box-shadow: 1px 1px 4px #400 inset;
}

.btn {
  border-radius: 6px;
}

