.wrapper {
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 10px double #002255;
  border-bottom: 10px double #002255;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 80px;
}

li {
  margin: 0;
  padding: 0;
  float: left;
  width: 230px;
}

body {
  background-color: #033a70;
}

ul {
  overflow: hidden;
}

a {
  display: block;
  margin: 0;
  padding: 6px 0 10px 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: #066da0 url(../img/button-effects.png) left top no-repeat;
}

a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 4px #eeff3a;
  background: #066da0 url(../img/button-effects.png) left bottom no-repeat;
}

